{% extends 'base.html'%}
{% load static %}

{% block title %} Posts {% endblock title %}

{% block content %}

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Post List</h2>
						<div class="page_link">
							<a href="{% url 'blog:homepage' %}">Home</a>
							<a href="{% url 'blog:post_list' %}">Posts</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =============-->
        
        <!--================Blog Area ========================-->
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">

                	<!-- Content Main -->
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            <div class="row">
                            	{% for post in post_list %}
                            	<div class="col-md-6">
                            		<article class="blog_style1 small">
										<div class="blog_img">
											<img 
												class="img-fluid" 
												src="{{ post.post_thumbnail.url }}" 
												alt="" 
												width="370" 
												height="230">
										</div>
										<div class="blog_text">
											<div class="blog_text_inner">
												<a class="cat" href="{% url 'blog:posts_by_tag' %}">
													{% for tag in post.post_tag.all %}
														{{ tag.tag_name }}
													{% endfor %}
												</a>
												<a class="cat" href="{% url 'blog:posts_by_category' %}">
													{{ post.post_category.cat_name }}
												</a>
												<a href="{% url 'blog:posts_by_category' %}">
													<h4>{{ post.post_title|title }}</h4>
												</a>
												<p>{{ post.post_content|slice:"150"}}</p>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.post_publish }}</a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{ post.post_view }}</a>
												</div>	
											</div>
										</div>
									</article>
                            	</div>
                            	{% endfor %}
                            	<!-- <div class="col-md-6">
                            		<article class="blog_style1 small">
										<div class="blog_img">
											<img class="img-fluid" src="{% static 'img/home-blog/blog-small-8.jpg' %}" alt="">
										</div>
										<div class="blog_text">
											<div class="blog_text_inner">
												<a class="cat" href="{% url 'blog:posts_by_tag' %}">Gadgets</a>
												<a class="cat" href="{% url 'blog:posts_by_category' %}">Category</a>
												<a href="{% url 'blog:posts_by_tag' %}"><h4>2nd Gen Smoke Co Bomb Alarm integration</h4></a>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
												</div>	
											</div>
										</div>
									</article>
                            	</div> -->
                            </div>
                            
	                        <!-- Pagination -->
	                        {% include 'blog/shared/pagination.html' %}
	                        
                        </div>
                    </div>

	                <!-- Content Aside -->
	                <div class="col-lg-4">
	                    <div class="blog_right_sidebar">

	                        <!-- Search -->
	                        {% include 'blog/shared/aside_search.html' %}

	                        <!-- The Bloger -->
	                        {% include 'blog/shared/aside_blogger.html' %}

	                        <!-- Popular Posts -->
	                        {% include 'blog/shared/aside_popular_posts.html' %}

	                        <!-- Banner -->
	                        {% include 'blog/shared/aside_banner.html' %}

	                        <!-- Category -->
	                        {% include 'blog/shared/aside_category.html' %}

	                        <!-- Tags -->
	                        {% include 'blog/shared/aside_tags.html'%}
	                        
	                    </div>
	                </div>
	                
                </div>
            </div>
        </section>
        <!--================Blog Area ========================-->

{% endblock content %}