{% load static %}


                <div class="col-lg-8">
                    <div class="blog_left_sidebar">

                        {% for first in first_two_posts %}
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="{{ first.post_thumbnail.url }}" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <a class="cat" href="{% url 'blog:posts_by_tag' %}">
                                        {% for tag in first.post_tag.all %}
                                            {{ tag.tag_name }}
                                        {% endfor %}
                                    </a>
                                    <a class="cat" href="{% url 'blog:posts_by_category' %}">
                                        {{ first.post_category.cat_name }}</a>
                                    <a href="{% url 'blog:post_detail'}">
                                        <h4>{{ first.post_title|title }}</h4>
                                    </a>
                                    <p>{{ first.post_content|slice:"200"}}</p>
                                    <div class="date">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ first.post_publish }}</a>
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{ first.post_view }}</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        <div class="row">
                            {% for small in posts_small %}
                            <div class="col-md-6">
                                <article class="blog_style1 small">
                                    <div class="blog_img">
                                        <img class="img-fluid" src="{{ small.post_thumbnail.url }}" alt="">
                                    </div>
                                    <div class="blog_text">
                                        <div class="blog_text_inner">
                                            <a class="cat" href="{% url 'blog:posts_by_tag' %}">
                                                {% for tag in small.post_tag.all %}
                                                    {{ tag.tag_name }}
                                                {% endfor %}
                                            </a>
                                            <a class="cat" href="{% url 'blog:posts_by_category' %}">
                                                {{ small.post_category.cat_name }}
                                            </a>
                                            <a href="{% url 'blog:post_detail'}">
                                                <h4>{{ small.post_title|title }}</h4>
                                            </a>
                                            <p>{{ small.post_content|slice:"100"}}</p>
                                            <div class="date">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ small.post_publish }}</a>
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{ small.post_view }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>

                        {% for second in second_two_posts %}
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="{{ second.post_thumbnail.url }}" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <a class="cat" href="{% url 'blog:posts_by_tag' %}">
                                        {% for tag in second.post_tag.all %}
                                            {{ tag.tag_name }}
                                        {% endfor %}
                                    </a>
                                    <a class="cat" href="{% url 'blog:posts_by_category' %}">
                                        {{ second.post_category.cat_name }}</a>
                                    <a href="{% url 'blog:post_detail'}">
                                        <h4>{{ second.post_title|title }}</h4>
                                    </a>
                                    <p>{{ second.post_content|slice:"200"}}</p>
                                    <div class="date">
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ second.post_publish }}</a>
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{ second.post_view }}</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        <!-- Pagination: This is the home page. No need to include pagination. -->

                    </div>
                </div>