{% load static %}

    <section class="post_slider_area">
        <div class="post_slider_inner owl-carousel">

            {% for slider in posts_slider %}
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img 
                            src="{{ slider.post_thumbnail.url }}" 
                            alt="{{ slider.post_title }}" 
                            width="480" 
                            height="600">
                    </div>
                    <div class="post_text">
                        <!--  
                            Note: 
                            1. Tag and Post have ManyToMany relationship
                            2. The way to get tag_name is as seen bellow.
                        -->
                        <a class="cat" href="{% url 'blog:posts_by_tag' %}">
                            {% for tag in slider.post_tag.all %}
                                {{ tag.tag_name }}
                            {% endfor %}
                        </a>
                        
                        <a class="cat" href="{% url 'blog:posts_by_category' %}">
                            {{ slider.post_category.cat_name }}</a>
                        <a href="single-blog.html">
                            <h4>{{ slider.post_title|title }}</h4>
                        </a>
                        <p>{{ slider.post_content|slice:"150"}}</p>
                        <div class="date">
                            <a href="">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                {{ slider.post_publish }}</a>
                            <a href="">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                {{ slider.post_view }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>