{% load static %}

    <section class="post_slider_area">
        <div class="post_slider_inner owl-carousel">
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img src="{% static 'img/post-slider/post-s-1.jpg' %}" alt="">
                    </div>
                    <div class="post_text">
                        <a class="cat" href="{% url 'blog:posts_by_tag' %}">Gadgets</a>
                        <a class="cat" href="{% url 'blog:posts_by_category' %}">Category</a>
                        <a href="single-blog.html">
                            <h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="date">
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img src="{% static 'img/post-slider/post-s-2.jpg' %}" alt="">
                    </div>
                    <div class="post_text">
                        <a class="cat" href="{% url 'blog:posts_by_tag' %}">Gadgets</a>
                        <a class="cat" href="{% url 'blog:posts_by_category' %}">Category</a>
                        <a href="single-blog.html">
                            <h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="date">
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img src="{% static 'img/post-slider/post-s-3.jpg' %}" alt="">
                    </div>
                    <div class="post_text">
                        <a class="cat" href="{% url 'blog:posts_by_tag' %}">Gadgets</a>
                        <a class="cat" href="{% url 'blog:posts_by_category' %}">Category</a>
                        <a href="single-blog.html">
                            <h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="date">
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post_s_item">
                    <div class="post_img">
                        <img src="{% static 'img/post-slider/post-s-4.jpg' %}" alt="">
                    </div>
                    <div class="post_text">
                        <a class="cat" href="{% url 'blog:posts_by_tag' %}">Gadgets</a>
                        <a class="cat" href="{% url 'blog:posts_by_category' %}">Category</a>
                        <a href="single-blog.html">
                            <h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <div class="date">
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                            <a href="{% url 'blog:posts_by_tag' %}"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>