{% load static %}

                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                {% for tag in tags %}
                                {% if tag %}
                                <li><a href="#">{{ tag.tag_name }} | {{ tag.post_count }}</a></li>
                                {% else %}
                                <li><a href="#" style="color:#EE24B4;">No tags found.</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </aside>