{% load static %}

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">

                                {% for category in categories %}
                                {% if category %}
                                <li>
                                    <a href="{% url 'blog:posts_by_category' %}" class="d-flex justify-content-between">
                                        <p>{{ category.cat_name }}</p>
                                        <p>{{ category.post_count }}</p>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p style="color:#EE24B4;">No categories found.</p>
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="br"></div>
                        </aside>